.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #03be9f;
  border: 1px solid #03be9f;
  cursor: pointer;
}

.comments button:hover,
.comments button:active {
  background-color: #dcfff9;
}

/* CSS for the loading spinner */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Adjust the height as needed */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db; /* Change the color to your preference */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animation duration and type */
}

/* Keyframes for the spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
